
<!-- Page Content -->
<div class="container">
    {{!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">about</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav> --}}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                Welcome to my blog
            </h1>

            {{#each posts}}
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top card-img-blog" src="{{this.thumbnail}}" alt="{{this.title}} image_thumbnail">
                    <div class="card-body">
                        <h2 class="card-title">{{this.title}}</h2>
                        <p class="card-text">{{{substr this.content}}}</p>
                        <a href="{{this.detailLink}}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{convertDateToLocal this.createdDate}} by
                        <a href="#">{{this.author}}</a>
                    </div>
                </div>
            {{/each}}

            {{#if  noPosts}}
            {{else}}
                <!-- Pagination -->
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    {{#each pages}}
                        <li class="page-item">
                            <a class="page-link" href="#">{{this}}</a>
                        </li>
                    {{/each}}
                
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            {{/if}}

        </div>

        {{>sideWidget}}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
